@model PagedList.IPagedList<CorkDistrict.ViewModels.PurchaseIndexViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Past Purchases";
}

<h2>Past Purchases</h2>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Winery"))
    {
        @Html.ActionLink("Make New Purchase", "TypeChoice", "Purchases")
    }
    else if (User.IsInRole("User"))
    {
        @Html.ActionLink("Make New Purchase", "Create", "Purchases")
    }
</p>
<table class="sortable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CardID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().uses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().purchaseLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().timestamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().method)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.purchaseLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.method)
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
@section Scripts{
    @Scripts.Render("~/bundles/sorttable")
}
